@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

$font-family: 'Quicksand', sans-serif;
$gray: #dadada;

body {
	margin: 0px;
	font-family: $font-family;
	background: url('images/symphony.png');
  background-size: 175px;
}

a {
	color: $gray;
}
.container {
	max-width: 768px;
	margin: 15px auto;
	border: solid 10px $gray;
	border-radius: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main {
	border: solid 2px #fff;
	border-radius: 25px;
	background: #fff;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: $gray;
    padding: 0px 15px;
    background: white;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

    h1 {
    	background-image: -webkit-gradient(linear, left top, right top, from(#74ebd5), to(#9face6));
    	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    	-webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
	    margin-right: auto;
	    margin-left: auto;
    }

    h4 {
    	font-size: 36px;
	    margin: 0px;
    }
}

.flex-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.blue {
	background: blue;
}

.green {
	background: green;
}

.purple {
	background: purple;
}

.habit {
	width: 100%;
    border: solid 1px white;
    border-right: 0px;
    border-left: 0px;

	label {
	    font-size: 56px;
	    color: white;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

	    @media screen and (max-width: 650px){
    	    font-size: 36px;
		    padding: 15px;
	    }

	    &:hover {
	    	cursor: pointer;
	    }
	}
	h3 {
		font-size: 56px;
	    color: white;
	}
}

.home {
	label {
		margin-left: -12px; // to account for checkbox element
	}
}

.incomplete {
	opacity: .5;
}

.blue {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#48c6ef), to(#6f86d6));
	background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.green {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#bae15d), to(#00e3ae));
	background-image: linear-gradient(to top, #bae15d 0%, #00e3ae 100%);
}

.purple {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#9f93f1), to(#8368ad));
	background-image: linear-gradient(to top, #9f93f1 0%, #8368ad 100%);
}

.gray {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#dadada));
  background-image: linear-gradient(to top, #ffffff 0%, #dadada 100%);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

form {
	margin-bottom: 0px;
}
.list-item {
    max-width: 768px;
    margin: 0 auto;
    min-height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;

    @media screen and (max-width: 650px){
    	min-height: 125px;
    }
}

.default-btn, .secondary-btn {
	min-height: 75px;
	margin: 30px auto;
	border: none;
    padding: 0px;
    background: transparent;
    text-decoration: none;

	h4 {
	    border-radius: 10px;
	    background: white;
	    margin: 0px 25px;
	    text-align: center;

		&:hover {
		    margin-top: 4px;
		    cursor: pointer;
		}
	}

	span {
		padding: 25px 50px;
	    font-size: 28px;
	    text-decoration: none;
	    background-image: -webkit-gradient(linear, left top, right top, from(#74ebd5), to(#9face6));
	    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
	    	-webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
        font-family: "Quicksand", sans-serif;
	    font-weight: 900;
	    border-radius: 10px;
	    border: solid 1px;
	    border-bottom: solid 5px;
	    border-color: $gray;
        display: block;

	    &:hover {
		    text-decoration: none;
		    border-bottom: solid 1px $gray;
		}
	}
}

.secondary-btn {
	margin-top: 0px;

	span {
		background: $gray;
		border-color: darken($gray, 10%);
		-webkit-background-clip: unset;
			  -webkit-text-fill-color: unset;
	    color: white;
	    border-radius: 10px;
        padding: 10px 50px;
	    font-size: 24px;
	}
}

.checkbox {
	input[type="checkbox"] {
	    opacity: 0;
	}
	label::before{
      font-family: "Font Awesome 5 Free";
	  font-weight: 400;
	  content: "\f111";
	  margin-right: 15px;
	}
	.checked::before {
	  font-family: "Font Awesome 5 Free";
	  font-weight: 900;
	  content: "\f058";
	}
}

.streaks {
	h3, h4, h5 {
		font-weight: 500;
		color: #fff;
		margin: 5px;
	}
	h4 {
		font-size: 32px;
		width: 100%;
	}
	h5 {
	    font-size: 20px;
	}
	h3 {
	}
	.list-item {
	    padding: 25px 15px;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}
}

.profile, .signup {

	label {
		font-size: 32px;
		margin: 0px 10px;

		@media screen and (max-width: 650px){
			font-size: 24px;
		}
	}

	input[type="text"], input[type="password"] {
	    font-family: "Quicksand", sans-serif;
	    font-size: 32px;
        color: #dadada;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        border: solid 1px #dadada;
	    border-radius: 10px;
	    margin-top: 5px;
	    padding: 5px;

	    @media screen and (max-width: 650px){
    	    max-width: 250px;
		    margin-bottom: 25px;
		    font-size: 24px;
	    }
	}

	button[type="submit"]:hover {
		margin-top: 34px;
		cursor: pointer;
	}
	.list-item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.signup {
	.habit:nth-child(2) {
	    padding: 30px 0px;
	    min-height: calc(100% - 143px);
	}
}

.logged-out {
    height: calc(100% - 83px);

    .habit {
    	height: 100%;
    	padding-top: 50px;
    }
}

.error {
    color: #f5b1b1;
    font-weight: 500;
    margin: 0px;
}

.not-found {
	h4 {
	    color: white;
	    font-size: 24px;
	    font-weight: 500;
	}
}
