{% load static %}
<html>
    <head>
        <title>Essentials || Daily Habit Tracker</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="{% static 'habits.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'habits.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="/daily_habits/static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/daily_habits/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/daily_habits/static/images/favicon-16x16.png">
        <link rel="manifest" href="/daily_habits/static/images/site.webmanifest">
        <link rel="mask-icon" href="/daily_habits/static/images/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/daily_habits/static/images/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/daily_habits/static/images/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <div class="header">
            <h4><a href="/"><i class="fas fa-home"></i></a></h4>
            <h1><a href="/">Essentials</a></h1>
            <h4><a href="{% url 'profile' %}"><i class="fas fa-cog"></i></a></h4>
        </div>
        {% else %}
        <div class="header">     
            <h1><a href="/">Essentials</a></h1>
        </div>        
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>