{% load static %}
<html lang="en">
    <head>
        <title>Essentials || Daily Habit Tracker</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="{% static 'habits.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'habits.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% static 'images/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
      <div class="container">
        {% if request.user.is_authenticated %}
        <header role="banner">
          <nav role="navigation" class="nav">
            <ul class="header">
              <li class="header__li">
                <h4 class="header__h4">
                  <a class="header__a" href="/" aria-label="Essentials App Home"><i class="fas fa-home"></i></a>
                </h4>
              </li>
              <li class="header__li">
                <h1 class="header__h1">
                  <a href="/" aria-label="Essentials App Home">Essentials</a>
                </h1>
              </li>
              <li class="header__li">
                <h4 class="header__h4">
                  <a class="header__a" href="{% url 'profile' %}" aria-label="Profile Settings"><i class="fas fa-cog"></i></a>
                </h4>
              </li>
            </ul>
          </nav>
        </header>
        {% else %}
        <header class="header" role="banner">
          <nav role="navigation" class="nav">
            <ul class="header">
              <li class="header__li">
                <h1 class="header__h1"><a href="/">Essentials</a></h1>
              </li>
            </ul>
          </nav>
        </header>
        {% endif %}
        <main role="main" class="main">
          {% block content %}
        </main>
        {% endblock %}
      </div>
      <footer role="contentinfo" class="footer">
        <a class="footer__a" href="www.brittanyisenberg.com" target="_blank">By Brittany Isenberg</a>
      </footer>
    </body>
</html>
