{% extends 'daily_habits/base.html' %}

{% block content %}
  <form method="post" class="post-form flex-content habits-form signup">
    {% csrf_token %}
    <div class="signup__habit habit--tertiary">
        {% for field in form %}

          <div class="habit__item habit__item--vertical">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn--default habit__item">
            <h4 class="btn__h4"><span>Sign up</span></h4>
        </button>
    </div>
  </form>
{% endblock %}
