{% extends 'daily_habits/base.html' %}

{% block content %}
<div>
  <form method="post" class="post-form flex-content signup">
    {% csrf_token %}
    <div class="habit purple">
        {% for field in form %}

          <div class="list-item">
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit" class="default-btn list-item">
            <h4><span>Sign up</span></h4>
        </button>
    </div>
  </form>
</div>
{% endblock %}